@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

#main{
    min-height: 100vh;
    background: #312626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.googleCont{
    width: 100%;
    max-width: 900px;
}

.googleMain{
    background: black;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.googleLogo{
    width: 100%;
}

.googleLogo img{
    height: 40px;
}

.googleInfo{
    min-width: 300px;
   width: 50%;
}

.googleInfo h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.googleInfo p{
    color: lightgray;
}

.googleForm{
    flex-basis: 0;
    flex-grow: 1;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input{
    width: 100%;
    padding: 14px;
    background: transparent;
    border: 1px solid gray;
    color: white;
}

.form a{
    color: #8ab4f8;
    text-decoration: none;
}

.formP{
    margin: 25px 0;
    color: lightgray;
}

.formP a{
    color: #8ab4f8;
}

.formBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createBtn{
    background: none;
    border: none;
    color: #8ab4f8;
    cursor: pointer;
}

.nextBtn{
    background: #8ab4f8;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.googleLinks{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#language-select{
  background-color: transparent;
  border: none;
  color: white;
}
.linkCont{
    display: flex;
    gap: 15px;
}

.linkCont a{
    color: white;
    text-decoration: none;
}

@media(max-width: 768px){
    .googleMain{
        flex-direction: column;
    }

    .googleLinks{
        gap: 10px;
        text-align: center;
    }

    .formBtn{
        flex-direction: column;
        gap: 10px;
    }

    .nextBtn{
        width: 100%;
    }
}
